body{
    margin:0;
    padding:0;
}

ul{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* border: 1px solid black; */
}
ul li{
    width: 20%;
    height: 100vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    list-style: none;
    animation: 10s change linear infinite;
}

ul li:nth-child(1){
    animation-delay: 0.2s;
    z-index: 10;
}
ul li:nth-child(2){
    animation-delay: 0.4s;
    z-index: 9;
}
ul li:nth-child(3){
    animation-delay: 0.6s;
    z-index: 8;
}
ul li:nth-child(4){
    animation-delay: 0.8s;
    z-index: 7;
}
ul li:nth-child(5){
    animation-delay: 1s;
    z-index: 6;
    text-align: center;
    font: 500 6vmax "Roboto";
}
ul li:nth-child(6){
    animation-delay: 1.2s;
    z-index: 5;
    text-align: center;
    font: 500 6vmax "Roboto";
}
ul li:nth-child(7){
    animation-delay: 1.4s;
    z-index: 4;
}
ul li:nth-child(8){
    animation-delay: 1.6s;
    z-index: 3;
}
ul li:nth-child(9){
    animation-delay: 1.8s;
    z-index: 2;
}
ul li:nth-child(10){
    animation-delay: 2s;
    z-index: 1;
}

@keyframes change{
    0%{
        background: #dd625e;
    }
    20%{
        background: #fd7d96;
    }
    40%{
        background: #283c86;
    }
    60%{
        background: #bbd2c5;
    }
    80%{
        background: #7f346b;
    }
    100%{
        background: #584292;
    }
}